PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=mediconnect
DB_PORT=3306
JWT_SECRET=supersecretjwtkeyfor_mediconnect_application
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password

